/*Start of general styling for all pages*/
:root {
    --white: #ffffff;
    --black: #111111;
    --darkgrey: #444444;
    --grey: #777777;
    --lightgrey: #999999;
    --lightergrey: #eeeeee;
    --red: #9F3D3D;
    --blue: #345162;
    --green: #386548;
    --lightgreen: #a6e2a6;
}

h1, a {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

h3, h2 {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

a:hover {
    cursor: pointer;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
}

.menu__nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background: rgba(0,0,0,.85);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: all .5s ease;
}

.menu__nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__nav__list li {
    margin: 2rem;
}

.menu__nav__list a {
    font-size: 2.5rem;
    text-decoration: none;
}

.menu__nav__list--inactive {
    color: var(--white);
}

.menu__nav__list--active {
    color: var(--lightgrey);
}

/*Dropdown menu function*/
body.open nav {
    transform: translateX(0%);
}

body.open .navicon {
    color: white;
}

.header__container {
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.2rem;
}

.header__logo {
    width: 8vw;
    min-width: 2.5rem;
    max-width: 3rem;
}

.header__name {
    font-size: 26px;
}

.header__name--green, .section__top--red--greenname {
    color: var(--lightgreen);
}

.navicon {
    max-width: 2.5rem;
}

/*These links will only be visible when in desktop mode*/
.header__menu {
    display: none;
}

.header__menu--desktop {
    list-style: none;
    display: flex;
}

.header__menu--desktop a {
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.header__menu__desktop--inactive {
    color: var(--black);
}

.header__menu__desktop--active {
    color: var(--lightgrey);
}

/*End of general styling*/

/*Start of specific styling for second page(discover.html)
Main__container, a grid-container with articles, red, blue, solar, wind, wave, and 3 images as grid items*/
.main__container {
    display: grid;
    grid-template-rows: 100vw 20vw 60vw 35vw 60vw 35vw 60vw 35vw;
    grid-template-areas: "red"
                         "blue"
                         "solarimage"
                         "solararticle"
                         "windimage"
                         "windarticle"
                         "waveimage"
                         "wavearticle";
}

.main__container article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.main__container img {
    height: 60vw;
    width: 100vw;
    object-fit: cover;
}

.main__container h2 {
    margin-bottom: .5rem;
}

.main__container a {
    text-decoration: none;
    color: var(--lightgrey);
}

.main__article--red {
    background: var(--red);
    grid-area: red;
    padding: 4rem;
}

.main__article--red h2 {
    font-size: 36px;
}

.main__article--red h3 {
    font-size: 24px;
}

.main__name--green {
    color: var(--lightgreen);
}

.main__article--blue {
    background: var(--blue);
    grid-area: blue;
}

.main__article--blue h3 {
    font-size: 24px;
}

.main__article--red h2, .main__article--red h3, .main__article--blue h3 {
    color: var(--white);
}

.main__image--solar {
    grid-area: solarimage;
}

.main__article--solar {
    grid-area: solararticle;
}

.main__article--solar h2, .main__article--wind h2, .main__article--wave h2 {
    color: var(--green);
    font-size: 48px;
}

.main__article--solar a, .main__article--wind a, .main__article--wave a {
    font-size: 30px;
}

.main__article--wind {
    grid-area: windarticle;
}

.main__image--wind {
    grid-area: windimage;
}

.main__image--wave {
    grid-area: waveimage;
}

.main__article--wave {
    grid-area: wavearticle;
    border-bottom: .05rem solid rgba(0,0,0,.2);
}

/*General styling for all pages*/
.footer__container {
    display: flex;
    justify-content: center;
    margin-top: -.5rem;
}

.footer__container__button__a {
    background-color: var(--lightergrey);
    border-radius: 50%;
    padding: .5rem;
    margin: .5rem;
}

.footer__container {
    padding-top: .5rem;
}
/*End of general styling*/

/*Desktop modifyers*/
@media screen and (min-width: 780px) {

    .header__container {
        padding: .5rem 3rem;
    }

    .header__name {
        margin: 0 auto 0 3rem;
    }

    .navicon {
        display: none;
    }

    .header__menu {
        display: unset;
    }

    .main__container {
        grid-template-rows: 30vw 10vw 30vw 30vw 30vw;
        grid-template-columns: repeat(2, 50vw);
        grid-template-areas: "red red"
                             "blue blue"
                             "solarimage solararticle"
                             "windarticle windimage"
                             "waveimage wavearticle"; 
    }
    .main__container img {
        height: 30vw;
        width: 50vw;
    }
}