:root {
    --white: #ffffff;
    --black: #111111;
    --darkgrey: #444444;
    --grey: #777777;
    --lightgrey: #999999;
    --lightergrey: #eeeeee;
    --red: #9F3D3D;
    --blue: #345162;
    --green: #386548;
}

body {
    margin: 0;
}

.header_container {
    background: var(--white);
}

.menu__nav {

}

.menu__nav__list {
    list-style: none;
}

.menu__nav__list--navicon {

}

.menu__nav__list a {
    text-decoration: none;
}

.main__container {

}

.hero__image {
    max-width: 100%;
    margin-bottom: -5px;
}

.section__top {
    display: grid;
    grid-template-rows: repeat(3, 50vw);
    grid-template-columns: repeat(2, 50vw);
    grid-template-areas: "black darkgrey"
                         "grey lightgrey"
                         "red red";
}

.section__top article {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__top article img {
    height: 8rem;
}

.section__top__square--black {
    background: var(--black);
    grid-area: black;
}

.section__top__square--darkgrey {
    background: var(--darkgrey);
    grid-area: darkgrey;
}

.section__top__square--grey {
    background: var(--grey);
    grid-area: grey;
}

.section__top__square--lightgrey {
    background: var(--lightgrey);
    grid-area: lightgrey;
}

.section__top--red {
    background: var(--red);
    grid-area: red;
}



.section__bottom {
    display: grid;
    grid-template-rows: repeat(2, 75vw);
    grid-template-areas: "blue"
                         "green";
}

.section__bottom--blue {
    background: var(--blue);
    grid-area: blue;
}

.section__bottom--green {
    background: var(--green);
    grid-area: green;
}

.bottom__image {
    max-width: 100%;
}

.footer__container {
    display: flex;
    justify-content: center;
}

.footer__container__button__a {
    background-color: var(--lightergrey);
    border-radius: 50%;
    padding: .5rem;
    margin: .5rem;
}